<% if notice %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
<%= notice %>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @article.title %></h5>
    <p class="card-text"><%= @article.description %></p>
    <%= link_to "Edit this article", edit_article_path(@article) %>
    <%= button_to "Destroy this article", @article, method: :delete %>
  </div>
</div>
<%= link_to "Back to articles", articles_path %>